<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Genaration</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <div>
        <img src="styles/cute.png" alt="">
        <h1>GenerateQR Code</h1>
    <form action="/genarate" method="post">
        <input class="btn x" type="text" name="link" placeholder="Enter your Text / Link">
        <input class="btn y z" type="submit" value="Genarate">
    </form>
    </div>
</body>
</html>